{% extends 'base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Reset your password</h1>
                                </div>
                                {# <form class="user" method="post"> #}
                                {{form_start(requestForm, {'attr': {'class': 'user'}}) }}
                                    {% for flash_error in app.flashes('reset_password_error') %}
                                        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                    {% endfor %}
                                  
                                    <div class="form-group">
                                        {{ form_row(requestForm.email) }}
                                        <div>
                                            <small>
                                                Enter your email address and we will send you a
                                                link to reset your password.
                                            </small>
                                        </div>
                                    </div>
                                    
                                    
                                     <button  class="btn btn-primary btn-user btn-block" type="submit">
                                        Send password reset email
                                    </button>
                               {{ form_end(requestForm) }}
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
